    {{ define "main" }}
        <main id="main">
          <h1 style="color:#98971a">{{ .Title }}</h1>
          <ul>
            {{ range .Pages }}
            <li style="color:#ebdbb2">
              <h2>
                <a href="{{ .RelPermalink }}">

                  {{ .Title }}{{ if and (.IsPage) (.Site.Params.Extensions.use) }}{{ .Site.Params.Extensions.ext }}
                  {{ end }}
                </a>
              </h2>
            </li>
            {{ end }}
          </ul>
        </main>
    {{ end }}
