<span class="navFull">
        <!-- left-most part of navbar -->
    {{ $lengthToCut := mul -1 (add (len .File.BaseFileName) 1) }}
    {{ $string := substr .RelPermalink 0 $lengthToCut }}

    {{ if .IsPage }} <!-- if a  site -->
        {{ $path := substr .RelPermalink 0 -1 }}
        {{ $string := printf ".md" | printf "%s%s" $path | printf "%s%s" "/content" }}
        {{ partial "navLinks.html" $string }}

    {{ else if .IsSection }} <!-- if a list page -->
        {{ $path := .RelPermalink }}
        {{ $string := printf "%s" $path | printf "%s%s" "/content" }}
        {{ partial "navLinks.html" $string }}

    {{ else if .IsHome }}
        {{ partial "navLinks.html"}}

    {{ end }}

        <!-- right-most part of navbar -->
        <span class="navCredits">
            <a href="https://github.com/kdschneider/kdschneider.github.io" style="color:#ebdbb2">code</a>
        </span>
</span>
